<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>Main Menu</title>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a id="menulink" href="{{ url_for('home_page.home') }}" class="active">Main Menu</a>
            <a id="cuentaslink" href="{{ url_for('accounting.accounting_menu') }}" >Incomes & Expenses</a>
            <a id="haberlink" href="{{ url_for('assets.assets_menu') }}" >Assets</a>
            <a id="logoutlink" href="{{ url_for('login_page.logout') }}">Log out</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <img alt="Image dropdown list" src="/static/image/dropdown.png" style="margin:0; display:block;">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
        </script>
<!--home this comment is to check that it is reached on test-->
        <center>
            <img alt="My Logo" src="/static/image/logo.png" class="mylogo">
        </center>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Main Menu</h1>
                </div>
                <div class="control-group">
                    <a id="alink" href="{{ url_for('accounting.accounting_menu') }}"
                       class="btn btn-primary btn-large btn-block">Incomes & Expenses</a>
                </div>
                <div class="control-group">
                    <a id="blink" href="{{ url_for('assets.assets_menu') }}"
                       class="btn btn-primary btn-large btn-block">Assets</a>
                </div>
                <div class="control-group">
                    <a id="clink" href="{{ url_for('ecb_rates.refresh_rates_ecb') }}"
                       class="btn btn-primary btn-large btn-block">Refresh ECB Rates</a>
                </div>
            </div>
        </div>
    </body>
</html>