<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Accounting - Filter to delete</title>
</head>
<body>
<!--THIS ALL IS FOR THE TOP MENU-->
    <div class="topnavb" id="myTopnav">
        <a id="menulink" href="{{ url_for('home_page.home') }}" >Main Menu</a>
        <a id="cuentaslink" href="{{ url_for('accounting.accounting_menu') }}" class="active">Incomes & Expenses</a>
        <a id="haberlink" href="{{ url_for('assets.assets_menu') }}">Assets</a>
        <a id="logoutlink" href="{{ url_for('login_page.logout') }}">Log out</a>
    </div>
    <!--accounting_delete this comment is to check that it is reached on test-->
    <center>
        <img alt="My Logo" src="/static/image/logo.png" class="mylogo">
        <form action="" method="POST" novalidate>
            {{ table|safe }}
            <br>
            <input type="submit" name="Submit" value="Delete" class="btn btn-primary btn-large btn-block">
        </form>
    </center>
</body>
</html>
