<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Accounting - New Record</title>
</head>
<body>
<!--THIS ALL IS FOR THE TOP MENU-->
<div class="topnav" id="myTopnav">
    <a id="menulink" href="{{ url_for('home_page.home') }}">Main Menu</a>
    <a id="cuentaslink" href="{{ url_for('accounting.accounting_menu') }}" class="active">Incomes & Expenses</a>
    <a id="haberlink" href="{{ url_for('assets.assets_menu') }}">Assets</a>
    <a id="logoutlink" href="{{ url_for('login_page.logout') }}">Log out</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <img alt="Image dropdown list" src="/static/image/dropdown.png" style="margin:0; display:block;">
        <i class="fa fa-bars"></i>
    </a>
</div>

<script>
                function myFunction() {
                  var x = document.getElementById("myTopnav");
                  if (x.className === "topnav") {
                    x.className += " responsive";
                  } else {
                    x.className = "topnav";
                  }
                }
            </script>



<!--accounting_new_record this comment is to check that it is reached on test-->
<center>
    <img alt="My Logo" src="/static/image/logo.png" class="mylogo">
</center>
<div class="new-entry">
    <div class="login-screen">
        <div class="app-title">
            <h1>New Record</h1>
        </div>
        <div class="login-form">
            <form action="" method="POST" novalidate>
                <div class="control-group">
                    {{ form.hidden_tag() }}
                    <ul class="control-groupinline">
                        {{ form.table(class="custom-select", id="Table") }}
                        {{ form.category(class="custom-select") }}
                    </ul>
                    {% for error in form.table.errors %}
                    <br>
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {% for error in form.category.errors %}
                    <br>
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="control-group-hidden" id="To_Balance">
                    {{ form.to_balance(class="custom-select") }}
                    <br>
                    {% for error in form.to_balance.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="control-group">
                    {{ form.value(placeholder='Value', type='text') }}
                    <br>
                    {% for error in form.value.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="control-group">
                    {{ form.description(placeholder='Description', type='text') }}
                    <br>
                    {% for error in form.description.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="control-group">
                    {{ form.date(type="date") }}
                    <br>
                    {% for error in form.date.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="control-group">
                    <input type="submit" value="Submit new Entry" class="btn btn-primary btn-large btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        var myTable = document.getElementById("Table");
        myTable.onchange = function() {
          var cat = document.getElementById("To_Balance");

          if (myTable.options[myTable.selectedIndex].value === "accounting.AccountingAdjustments") {
            if (cat.classList.contains("control-group-hidden")) {
                cat.classList.remove("control-group-hidden")
                cat.classList.add("control-group")
            }
          } else {
            if (cat.classList.contains("control-group")) {
                cat.classList.remove("control-group")
                cat.classList.add("control-group-hidden")
            }
          }
        }
    </script>
</body>