<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Assets Menu</title>
</head>
<body>
<!--THIS ALL IS FOR THE TOP MENU-->
<div class="topnav" id="myTopnav">
    <a id="menulink" href="{{ url_for('home_page.home') }}">Main Menu</a>
    <a id="cuentaslink" href="{{ url_for('accounting.accounting_menu') }}">Incomes & Expenses</a>
    <a id="haberlink" href="{{ url_for('assets.assets_menu') }}" class="active">Assets</a>
    <a id="logoutlink" href="{{ url_for('login_page.logout') }}">Log out</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <img alt="Image dropdown list" src="/static/image/dropdown.png" style="margin:0; display:block;">
        <i class="fa fa-bars"></i>
    </a>
</div>

<script>
                function myFunction() {
                  var x = document.getElementById("myTopnav");
                  if (x.className === "topnav") {
                    x.className += " responsive";
                  } else {
                    x.className = "topnav";
                  }
                }
            </script>
<!--assets_menu this comment is to check that it is reached on test-->
<center>
    <img alt="My Logo" src="/static/image/logo.png" class="mylogo">
</center>
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Assets Menu</h1>
        </div>
        <div class="control-group">
            <a id="alink" href="{{ url_for('assets.new_entry_assets') }}"
               class="btn btn-primary btn-large btn-block">New Record</a>
        </div>
        <div class="control-group">
            <a id="blink" href="{{ url_for('assets.select_to_delete_assets') }}"
               class="btn btn-primary btn-large btn-block">Delete</a>
        </div>
        <div class="control-group">
            <a id="dlink" href="{{ url_for('upload_file') }}"
               class="btn btn-primary btn-large btn-block">Process File</a>
        </div>
        <div class="control-group">
            <a id="clink" href="/assets/dash"
               class="btn btn-primary btn-large btn-block">Dash app</a>
        </div>
    </div>
</div>
</body>
</html>