<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>AJB - Personal Web Page</title>
</head>
<!--Login_form this comment is to check that it is reached on test-->
<body>
    <center>
        <img alt="My Logo" src="/static/image/logo.png" class="mylogo">
    </center>
    <form action="" method="POST" novalidate>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                <div class="login-form">
                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        {{ form.user_name(placeholder='User Name', type='text') }}<br>
                        {% for error in form.user_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="control-group">
                        {{ form.password(placeholder='Password', type='password') }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                </div>
            </div>
        </div>
    </form>
</body>
</html>